<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

<link name="tomato_base_link">
  <visual>
    <geometry>
      <box size="0.8 0.8 0.5" />
    </geometry>
    <origin rpy="0 0 0" xyz="0 0 0.25" />
    <material name="gray">
      <color rgba="0.8 0.8 0.8 1.0" />
    </material>
  </visual>
  <collision>
    <geometry>
      <box size="0.8 0.8 0.5" />
    </geometry>
    <origin rpy="0 0 0" xyz="0 0 0.25" />
  </collision>
</link>

<joint name="tomato_base_to_base" type="fixed">
  <parent link="tomato_base_link" />
  <child link="base_link" />
  <origin xyz="-0.2 0 0.5" rpy="0 0 0" />
</joint>

</robot>
