<launch>
  <!-- dummy link from /BODY to /camera_link -->
  <node pkg="tf" type="static_transform_publisher"
	name="body_to_camera_link"
	args="0 0 0.6 0 0.2 0 /BODY /camera_link 100" />

  <!-- camera -->
  <include file="$(find jsk_pcl_ros)/launch/openni2_local.launch" />
  <include file="$(find jsk_pcl_ros)/launch/openni2_remote.launch">
    <arg name="depth_calibration_file"
	 value="$(find tomato_cutting_demo)/launch/default_depth_calibration_parameter.yaml" />
  </include>

  <include file="$(find tomato_cutting_demo)/launch/start_tomato_detect.launch" />
</launch>
